
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
       <tr>
         <ht>name</ht>
         <ht><%= user.name %></ht>
       </tr>
         <tr></tr>
         <th><%= user.introduction %></th>
         <th></th>
       </tr>
         <% if @user.id == current_user.id %>
        <p><%= link_to "編集", edit_user_path(@user) %></p>
         <% end %>
    </tbody>
  </table>
