<div class="container mt-3">
 <div class="row">
  <div class="col-3">

    <%= render 'users/user', user: @user %>
     <%= render 'books/book', book: @newbook %>

  </div>

   <div class="col-8 offset">

       <h2>Book detail</h2>

       <table class='table'>
         <tr>
           <td>
             <%= @book.title %>
           </td>
           <td>
             <%= @book.body %>
           </td>
         </tr>
      </table>

   </div>
 </div>
</div>